.inner-content {
	max-width: 1100px;
	margin: auto;
	padding: 5px;
}

@media only screen and (max-width: 800px) {

	/* Force table to not be like tables anymore */
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}
	th {
		display: none;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	td:before { content: attr(data-title); }
}
.mynavbar {
	position: fixed;
	z-index: 200;
	padding: 15px;
	width: 240px;
	bottom: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.opennav {
	z-index: 500;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 25px;
	text-align: right;
	background: rgba(033, 022, 022, 0.8);
}

.content {
	background: url(/bg.png);
	overflow-x: hidden;
	overflow-y: auto;
	left: 270px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	position: fixed;
}

span.bold {
	font-weight:bold;
	color: #3F3FA3;
}

span.type {
	color: green;
}

span.decorator {
	color: #5050A8;
}

span.badcode {
	text-shadow: 1px 1px 1px rgba(253, 253, 253, 0.37);
	font-weight: bold;
	border-bottom: 2px dotted rgba(128, 0, 0, .7);
	/*background: #E6A4A4;*/
	background: rgba(230, 164, 164, 0.44);
	border-radius: 4px;
}

span.goodcode {
	/*text-shadow: 1px 1px 1px rgba(253, 253, 253, 0.37);
	font-weight: bold;*/
	border-bottom: 2px dotted rgba(0, 128, 0, .7);
	/*background: #DDFFFF;*/
	border-radius: 4px;
}

pre {
	margin-bottom: 45px;
}

.label-info, .label-important {
	margin-top: 20px;
	padding-bottom: 8px;
	margin-bottom: -5px;
	display: block;
	padding-top: 3px;
}

code {
	overflow: hidden;
}

.span6 {
	max-width: 95%;
}

#intro {
    border-bottom: 5px solid #808080;
    height: 97px;
    margin: -10px -50% 25px;
    padding-left: 50%;
    width: 200%;
background: #529eea; /* Old browsers */

background: -moz-linear-gradient(top,  #529eea 0%, #7ebaf7 56%, #96caff 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#529eea), color-stop(56%,#7ebaf7), color-stop(100%,#96caff)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #529eea 0%,#7ebaf7 56%,#96caff 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #529eea 0%,#7ebaf7 56%,#96caff 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #529eea 0%,#7ebaf7 56%,#96caff 100%); /* IE10+ */

background: linear-gradient(to bottom,  #529eea 0%,#7ebaf7 56%,#96caff 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#529eea', endColorstr='#96caff',GradientType=0 ); /* IE6-9 */


}

#logo {
    background-image: url("/wake_logo.png");
    background-position: 0 -85px;
    background-repeat: no-repeat;
    background-size: 300px 317px;
    display: inline-block;
    float: left;
    height: 102px;
    width: 300px;
}

.logo-label {
	    color: #FFFFFF;
    display: block;
    float: left;
    font-family: cursive;
    font-size: 62px;
    font-weight: 100;
    margin-left: 23px;
    margin-top: 60px;
}

.logo-label-label {
    color: #666666;
    float: left;
    margin-left: 40px;
    margin-top: 52px;
    width: 274px;
}
